.advantages__title {
  padding-top: 125px;
  padding-bottom: 75px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}
.advantages__list {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.advantages__list--second {
  flex-wrap: wrap;
  margin-top: 60px;
  align-items: center;
}

.advantages__item:not(:last-child) {
  margin-bottom: 60px;
}
.advantages__item--rel {
  position: relative;
}
.advantages__icon--after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 73px;
  background-repeat: no-repeat;
  background-image: url(../img/ArrowD.jpg);
}
