.advantages__title {
  padding-top: 125px;
  padding-bottom: 75px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}
.advantages__list {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.advantages__list--second {
  flex-wrap: wrap;
  margin-top: 60px;
  align-items: center;
}
.advantages__item {
  position: relative;
}
.advantages__item--second {
  position: relative;
}
.advantages__item:not(:last-child) {
  margin-bottom: 60px;
}
.advantages__item--rel {
  position: relative;
  margin: 0 85px;
}
.advantages__item--rel::before {
  content: "";
  display: block;
  position: absolute;
  width: 75px;
  height: 30px;
  top: 50%;
  right: 101%;
  transform: translate(0%, -50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../img/ArrowL.svg);
}
.advantages__item--rel::after {
  content: "";
  display: block;
  position: absolute;
  width: 75px;
  height: 30px;
  top: 50%;
  left: 101%;
  transform: translate(0%, -50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../img/ArrowR.svg);
}
.advantages__item--last::before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 75px;
  top: -49%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../img/ArrowD.svg);
}
// .advantages__icon {
//   margin: 0 15px;
// }
